.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}   

.minH{
    min-height: 700px;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}
.projectEditdetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}