.btn{
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    border: none;
    width: 100%;
}
.btn:hover{
    color: #fb3;
}